# GeoIP Update configuration file
# Documentation: https://github.com/maxmind/geoipupdate/blob/main/doc/GeoIP.conf.md

# AccountID and LicenseKey from MaxMind
AccountID __ACCOUNT_ID__
LicenseKey __LICENSE_KEY__

# Product IDs for GeoLite2 databases
EditionIDs GeoLite2-ASN GeoLite2-City GeoLite2-Country

# Directory to store databases
DatabaseDirectory __DATA_DIR__

# Host and protocol (optional - defaults are usually fine)
# Host updates.maxmind.com
# Protocol https
